body {
  background-color: rgb(69, 73, 71);
  color: white;
  text-align: center;
}
#box {
  width: 360px;
  margin: 100px auto;
  border-radius: 20px;
  border-style: solid;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: black;
  padding-bottom: 15px;
}
/*User input section and box modification */
#sec1 {
  text-align: center;
}
#title {
  font-size: 35px;
}
#mbudget {
  margin-right: 3px;
}
#dateText {
  margin-right: 230px;
}
#dateImput {
  margin-right: 40px;
}

#wbudget {
  padding-left: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
#selectCurrency {
  margin-right: 6px;
}
#wcalcu {
  margin-left: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.currency {
  margin-left: 5px;
}
.inputBox1 {
  border-radius: 5px;
  border-width: 0px;
}
#amount {
  font-size: 15px;
  text-align: center;
}
#amount::placeholder {
  color: lightgray;
  font-weight: bold;
  padding: 3px;
  text-align: center;
}
.roundBox {
  background-color: rgb(59, 153, 22);
  border-radius: 10px;
  padding: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
/* Shopping list section*/
#nlistButton {
  margin-top: 0px;
  border-radius: 3px;
  border-width: 0px;
  font-weight: bold;
}
#slist {
  font-size: 25px;
  text-decoration: underline;
  font-family: serif;
  margin-bottom: 10px;
}
#newItem {
  margin-top: 10px;
}
#userInput {
  border-radius: 4px;
  border-width: 0px;
  padding-right: 30px;
  font-size: 16px;
  margin-top: 3px;
  padding-top: 5px;
  text-align: center;
}

#noteInput {
  border-radius: 5px;
  border-width: 0px;
}
#note {
  margin-bottom: 0px;
  margin-right: 255px;
  height: auto;
}
#pTotal {
  font-size: 17px;
}
#purchasein {
  text-align: center;
  border-radius: 5px;
  border-width: 0px;
  font-size: 16px;
  margin-right: 0px;
  width: 170px;
}
#purchasein::placeholder {
  color: lightgray;
}

#calculate {
  font-size: 17px;
  font-weight: 700;
}
#symbol2 {
  font-size: 30px;
  margin-left: 3px;
}
#weekText {
  font-size: 25px;
  font-family: 'Berlin Sans FB';
  padding-top: 0px;
  padding-bottom: 1px;
}
#weekBalance {
  margin-left: 3px;
}
#monthText {
  font-family: 'Berlin Sans FB';
}
#monthBalance {
  margin-left: 3px;
}
#plsection {
  margin-right: 230px;
}
/*new item box, check box, x box*/
#item {
  background-color: rgb(59, 153, 22);
  border-radius: 5px;
  margin-top: 7px;
  list-style-type: none;
  margin-right: 60px;
  height: 20px;
}
#item > button {
  float: left;
  border: none;
  background-color: transparent;
}
#checkBox {
  height: 20px;
  width: 20px;
  float: right;
  vertical-align: middle;
  margin-top: 0px;
}
#logList {
  list-style-type: none;
}
.buttonHover:hover {
  background-color: rgb(145, 136, 11);
  color: white;
}
.buttonHover {
  border-radius: 3px;
  border-width: 0px;
}
